html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.login{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #FFA500, #FFD700);
}

.pinReminder{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
}
